{{message}}


<!-- <a href="http://localhost:3000/shopping">back to home page</a> -->

<form action="/feedback" method="post">
    <div>
        <label>Name:</label>
        <input type="text"  name="name"/>
    </div>
    <div>
        <label>Hobby:</label>
        <input type="password" name="comment"/>
    </div>

    <div>
        <input type="submit" value="submit"/>
    </div>
</form>