<body class="main">

    <link href="http://localhost:3000/css/signInOut.css" rel="stylesheet">
    <link href="http://localhost:3000/css/sidebar.css" rel="stylesheet">
    {{!--<script src="http://localhost:3000/js/signInOut.js"></script>--}}
    <script src="http://localhost:3000/js/sidebar.js"></script>

    <div class="login-screen"></div>
    <div class="login-center">

    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand"><a href="http://localhost:3000">Shopping.com</a></li>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Team</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="https://twitter.com/maridlcrmn">Follow me</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container min-height" style="margin-top: 100px;">
            <div class="row">
                <div class="col-xs-4 col-md-offset-8">
                    <div class="login" id="card">
                        {{message}}
                        <div class="front signin_form">
                            <p>Login Your Account</p>
                            <form class="login-form" action="/login" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="username" type="text" class="form-control" placeholder="Type your username">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                      </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="password" type="password" class="form-control" placeholder="Type your password">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <!-- <label><input type="checkbox">Remember me next time.</label> -->
                                </div>

                                <div class="form-group sign-btn">
                                    <input type="submit" class="btn" value="Log in">
                                    <p><a href="#" class="forgot">Forget your password?</a></p>
                                    <p><strong>New to Shopping.com?</strong><br><a href="http://localhost:3000/register" id="flip-btn" class="signup signup_link" onclick="toRegister()">Sign up for a new account</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
        
    </div>

    <footer class="container-fluid text-center">
        <p>Copyright © 2017 Jiawen Peng. All rights reserved.</p>
        <form class="form-inline">Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
    </footer>
</body>