{{message}}


<!-- <a href="http://localhost:3000/register">register</a> -->

<form action="/profile" method="post">
    <div>
        <label>Name:</label>
        <input type="text"  name="name"/>
    </div>
    <div>
        <label>Hobby:</label>
        <input type="password" name="hobby"/>
    </div>

    <div>
        <input type="submit" value="submit"/>
    </div>
</form>