
{{!--<label>{{message}}</label>
<form action="/register" method="post">
	
 <div>
        <label>Username:</label>
        <input type="text"  name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>

    <div>
        <label>re-enter Password:</label>
        <input type="password" name="reenterpassword"/>
    </div>
    <div>
        <input type="submit" value="register"/>
    </div>


</form>--}}
<body class="main">
    <link href="http://localhost:3000/css/signInOut.css" rel="stylesheet">
    <link href="http://localhost:3000/css/sidebar.css" rel="stylesheet">
    {{!--<script src="http://localhost:3000/js/signInOut.js"></script>--}}
    <script src="http://localhost:3000/js/sidebar.js"></script>

    <div class="login-screen"></div>
    <div class="login-center">

    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand"><a href="http://localhost:3000">Shopping.com</a></li>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Team</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="https://twitter.com/maridlcrmn">Follow me</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
        <div class="container min-height" style="margin-top: 100px;">
            <div class="row">
                <div class="col-xs-4 col-md-offset-8">
                    <div class="login" id="card">
                        {{message}}
                        <div class="back signup_form">
                            <p>Sign Up for New Account</p>
                            <form id="register" class="login-form" action="/register" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="username" type="text" class="form-control" placeholder="Username">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                      </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="password" type="password" class="form-control" placeholder="Password">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="reenterpassword" type="password" class="form-control" placeholder="Confirm Password">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="input-group">
                                        <input name="email" type="email" class="form-control" placeholder="Email">
                                        <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-envelope"></i>
                                      </span>
                                    </div>
                                </div> -->
                                <div class="form-group sign-btn">
                                    <input id="register" type="submit" class="btn" value="Sign up">
                                    <br><br>
                                    <p>Already have an account? <a href="http://localhost:3000/login" id="unflip-btn" class="signup">Log in</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="container-fluid text-center">
        <p>Copyright © 2017 Jiawen Peng. All rights reserved.</p>
        <form class="form-inline">Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
    </footer>
</body>